<div data-options="dxView : { name: 'Condizioni', title: 'Condizioni' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="condizioni" data-bind="dxScrollView: {}">
        
            <h1>Condizioni Generali del Servizio</h3>        
            <h3>1. Titolarità della piattaforma</h1>
            <p>S.E.G.E. S.r.l. è l'unica titolare della piattaforma web individuata con www.portaportese.it per il tramite della quale vengono gestiti tutte le attività connesse, (da ora in poi il "Servizio") di cui in seguito, nonchè di tutti i relativi diritti inerenti e conseguenti allo sfruttamento della piattaforma medesima.
            </p>
            <br />
            <h3>2. Contenuto del Servizio</h1>
        	<p>
S.E.G.E. S.r.l. società di servizi informatici e telematici con sede legale in Via di Porta Maggiore 95 (RM) Italia, mette a disposizione degli utenti che intendano avvalersene un servizio web based che consente di pubblicare e consultare annunci e inserzioni di soggetti privati che intendano alienare o acquistare beni o prestare e ricevere servizi. Il Servizio consente altresì agli inserzionisti ed agli utenti interessati a quanto pubblicato di entrare in contatto tra di loro.            
            </p>
            
            <h3>3. Applicabilità delle condizioni</h3>
            <p>
            Le presenti Condizioni Generali di Servizio si applicano sia agli utenti che utilizzino il Servizio in consultazione degli annunci pubblicati sia agli utenti inserzionisti (d‘ora in poi collettivamente “utente/i”).
            </p>
            <h3>4. Termini per l'uso del Servizio</h3>
            <p>
                    L’utilizzo del Servizio è consentito solo ad utenti maggiorenni secondo la legge italiana (maggiori di anni 18). L’eventuale utilizzo del Servizio da parte di utenti minorenni presuppone e sottintende l’autorizzazione e la supervisione dei genitori o di chi ne esercita la potestà o la tutela, che assumeranno quindi ogni responsabilità dell’operato del minore nei confronti di S.E.G.E. S.r.l. e dei terzi ad ogni titolo coinvolti.
                    L'utilizzo del Servizio è gratuito e consente la libera consultazione degli annunci e la pubblicazione di inserzioni e la creazione di utenze finalizzate all'utilizzo del servizio medesimo. Talune funzionalità specifiche del Servizio, l'inserzione in specifiche categorie merceologiche e le inserzioni ulteriori rispetto alle soglie fissate per talune categorie potranno essere messe a disposizione solamente a pagamento così come da specifiche condizioni di contratto relative ai servizi medesimi.
                    Le relazioni intrattenute tra gli utenti del Servizio, incluso l'acquisto, lo scambio di informazioni, la consegna o il pagamento di beni o servizi, avvengono esclusivamente tra utenti senza che S.E.G.E. S.r.l. sia parte della relazione.
                    L'utenza si impegna, altresì, a non fare utilizzo improprio dei contatti presenti a qualunque titolo sulla piattaforma del Servizio. A titolo esemplificativo ma non esaustivo è vietato l'invio di pubblicità, materiale promozionale, o qualsiasi altra forma di sollecitazione non autorizzata o non richiesta tramite e-mail o con qualsiasi altro metodo di contatto.
			</p>
            <h3>5. Responsabilità dell'utente</h3>
            <p>
            L'utente è totalmente ed esclusivamente responsabile dell'uso del Servizio (da intendersi espressamente con riguardo alle funzioni di pubblicazione, di consultazione, di gestione delle inserzioni e di contatto tra utenti) ed è pertanto l'unico garante e responsabile dei beni e dei servizi offerti per il tramite del Servizio nonché della correttezza, completezza e liceità delle inserzioni e del proprio comportamento nell'ambito del contatto tra utenti.
            L'utente garantisce la disponibilità e/o la titolarità del bene/servizio oggetto delle inserzioni medesime.
            L'utente garantisce altresì che i propri annunci non violano alcun diritto d'autore né diritto di proprietà industriale né altro diritto di terzi.
            In caso di contestazione da parte di terzi riguardo a qualsiasi annuncio o condotta ad esso legata, l'utente se ne assume la piena responsabilità e si impegna a tenere manlevata e indenne S.E.G.E. S.r.l. da qualsiasi danno, perdita o spesa.
            L'utente si impegna ad utilizzare il form di risposta all’annuncio al solo scopo di prendere contatto e scambiare informazioni con gli altri utenti relativamente agli annunci, utilizzando un linguaggio consono, nel rispetto della legge, dell’etica e della netiquitte.
            L'utente, inoltre, si assume ogni responsabilità per eventuali danni che possano derivare al suo sistema informatico dall'uso del Servizio.
            </p>
            <h3>6. Limitazione di responsabilità</h3>
            <p>
            S.E.G.E. S.r.l. non presta alcuna garanzia circa il contenuto, la completezza e la correttezza delle inserzioni pubblicate nè con riguardo ai dati pubblicati, né relativamente alle informazioni successivamente fornite dall’utente, nè con riferimento al numero o alla qualità dei risultati ottenuti tramite il Servizio.
            In ogni caso S.E.G.E. S.r.l. si riserva, in qualsiasi momento, il diritto di valutare, approvare, eliminare o impedire l'inserzione ovvero il diritto di inibire la consultazione o il contatto per il tramite del form di risposta all’annuncio nel caso in cui, a proprio insindacabile giudizio, l'uso del Servizio da parte dell'utente si riferisca a particolari sezioni merceologiche o possa considerarsi lesivo di diritti o delle prerogative di S.E.G.E. S.r.l. o di terzi.
            Resta inteso che anche in caso di valutazione ed approvazione delle inserzioni (siano esse automatiche o manuali) S.E.G.E. S.r.l. non presta alcuna garanzia circa il contenuto, la completezza e la correttezza delle stesse.
            S.E.G.E. S.r.l. è altresì estranea alle trattative eventualmente nascenti dall'uso del Servizio e pertanto non garantisce nè la bontà nè l'esito delle stesse, di conseguenza nessuna richiesta di restituzione, compensazione, riparazione e/o risarcimento a qualunque titolo potrà essere indirizzata nei confronti di S.E.G.E. S.r.l.
            Il Servizio è offerto per il tramite del sito www.portaportese.it e delle applicazioni mobile che possono contenere banner/link ad altri siti Internet o applicazioni che non sono sotto il controllo di S.E.G.E. S.r.l.; la pubblicazione dei predetti banner/link non comporta l’approvazione o l’avallo da parte di S.E.G.E. S.r.l. dei relativi siti e dei loro contenuti, né implica alcuna forma di garanzia da parte di quest’ultima che pertanto non si assume alcuna responsabilità. L'utente riconosce, quindi, che S.E.G.E. S.r.l. non è responsabile, a titolo meramente esemplificativo, della veridicità, correttezza, completezza, del rispetto dei diritti di proprietà intellettuale e/o industriale, né risponde della loro eventuale contrarietà all’ordine pubblico, al buon costume e/o alla morale.
            </p>
            <h3>7. Limitazioni nell'erogazione del Servizio</h3>
            <p>
            S.E.G.E. S.r.l. si riserva il diritto di modificare, sospendere o interrompere, in tutto o in parte, il Servizio in qualsiasi momento anche senza preavviso e senza che la stessa sia tenuta ad indicare le ragioni sottese alle predette azioni S.E.G.E. S.r.l. non potrà parimenti essere ritenuta responsabile dei danni conseguenti alla mancata prestazione del Servizio oggetto del presente contratto a causa dell'errato o mancato funzionamento dei mezzi elettronici di comunicazione per cause estranee alla sfera del proprio prevedibile controllo.
            A titolo esemplificativo, ma non esaustivo, il malfunzionamento dei server ed altri dispositivi elettronici anche non facenti parte integrante della rete Internet, malfunzionamento dei software installati, virus informatici, nonchè da azioni di hacker o altri utenti aventi accesso alla rete.
            </p>
            <h3>8. Limitazioni al contenuto delle pubblicazioni</h3>
            <p>
            L'utente si impegna a non falsificare la propria identità ed a rispettare tutte le disposizioni di legge vigenti nonché le regole del Servizio.
            L'utente si impegna altresì, a non utilizzare il Servizio per la pubblicazione, trasmissione, scambio di materiale illecito, volgare, osceno, calunnioso, diffamatorio, offensivo della morale corrente, o, comunque, lesivo dei diritti altrui o di messaggi incitanti all'odio ed alla discriminazione razziale o religioso. Inoltre, l'utente si impegna a non utilizzare il Servizio in maniera tale da violare diritti di proprietà intellettuale o industriale di S.E.G.E. S.r.l. o di terzi.
            </p>
            <h3>9. Pubblicazioni ulteriori</h3>
            <p>
            L'utente riconosce ed accetta la possibilità offerta da S.E.G.E. S.r.l. di far pubblicare gli annunci anche su altri siti internet o sulle testate off-line, sia della S.E.G.S. S.r.l. sia delle altre società facenti parte del gruppo “Porta Portese” o, comunque, appartenenti a soggetti terzi interessati a promuovere e/o pubblicare gli annunci dell'utente.
            L'utente acconsente inoltre all'utilizzo del contenuto dell'annuncio (foto, testo, ecc.) da parte di S.E.G.E. S.r.l. al fine della pubblicazione dello stesso su siti terzi, riviste on line o cartacee o altri media, impegnandosi altresì a tenere indenne e manlevare S.E.G.E. S.r.l. da qualsiasi responsabilità e/o richiesta al riguardo.
            S.E.G.E. S.r.l. vieta l’utilizzo da parte di software/applicazioni/siti cd. aggregatori e/o terzi, non espressamente e previamente autorizzati, di qualunque contenuto afferente al Servizio.
            Ogni violazione al predetto divieto potrà essere perseguito a norma legge.
            </p>
            <h3>10. Giurisdizione, legge applicabile e foro competente</h3>
            <p>
            I rapporti tra S.E.G.E. S.r.l. e gli utenti sono regolati dalla legge e dalla giurisdizione italiana, in base alla quale anche le presenti Condizioni Generali dovranno essere interpretate.
            Salvo quanto disposto da norme di legge non derogabili, il Tribunale di Roma sarà competente in via esclusiva a dirimere ogni controversia riguardante le presenti Condizioni Generali ed i rapporti dalle stesse regolati.
            </p>
            <h3>11 Validità delle presenti Condizioni Generali</h3>
            <p>
            Le presenti condizioni Generali di Servizio si considereranno applicabili, ove compatibili, anche in caso di ulteriori, diversi e specifici accordi relativi ai servizi a pagamento. S.E.G.E. S.r.l. potrà comunque apportare unilateralmente in qualsiasi momento modifiche alle presenti Condizioni Generali dandone comunicazione sulla propria piattaforma web.
            
            S.E.G.E. S.r.l. - Sede legale: Via di Porta Maggiore 95 00187 Roma
            Registro Imprese di Roma eCodice Fiscale 03614700585/Partita IVA 01217661006
            R.E.A. ROMA 443213 - CAP. SOC. EU 93600,00 i.v            
            <p>            
        </div>
    </div>
</div>