<div data-options="dxView : { name: 'About', title: 'Info' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="about" data-bind="dxScrollView: {}">
            <h1>Supporto Tecnico</h1>
            <p>Help desk   :  tel. <a target="_blank" href="tel:0670300016">06 70300016</a></p>
            <p>Email :<a taget="_system" href="mailto:info@portaportese.it">  info@portaportese.it</a></p>
            <br />            
            <h1>Informativa</h1>
			<p><a href="#" onclick=" PortaPortese.app.navigate('Regolamento', { root: false }); return false;" >Regole di pubblicazione</a>.</p>
            <br />
			<p><a href="#" onclick=" PortaPortese.app.navigate('Condizioni', { root: false }); return false;" >Condizioni del Servizio</a>.</p>
            <br />                        
            <h1>Annunci</h1>
            <p>Ricezione Annunci Gratuiti Per Telefono</p>            
            <p>tel. <a target="_blank" href="tel:0670199">06 70199</a></p>            
            <p>Ricezione Annunci Gratuiti Per SMS</p>
            <p>Sms: 388 0670199 - 389 0670199</p>
            <p>Ricezione Annunci in Grassetto a Pagamento</p>
            <p>(1,50 € + IVA al min.) tel. <a target="_blank" href="tel:899099908">899 099908</a></p>
            <h1>Pubblicità</h1>
            <p>tel. <a target="_blank" href="tel:0670350221">06 70350221</a>  - <a target="_blank" href="tel:0670350225">06 70350225</a></p>
            <p>Email: <a target="_system" href="mailto:infotrepi@portaportese.it">infotrepi@portaportese.it</a></p>
            <br />
            <h1>Porta Portese Mobile App</h1>
            <p>Powered by <a href="#" data-bind="dxAction:infoClick" >RMDTMSoft</a>.</p>
            <br />
        </div>
    </div>
</div>