<div data-options="dxView : { name: 'Regolamento', title: 'Regolamento' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="regolamento" data-bind="dxScrollView: {}">
            <h1>Regole di pubblicazione</h3>        
            <h3>Annunci</h1>
            <p>	<b>Possono essere pubblicati annunci di compravendita di beni e servizi e annunci di 
			   	lavoro,</b> conformi con la legislazione italiana e la politica editoriale di <b>PortaPortese</b>.<br/><br />
	  			Il <b>testo</b> degli annunci deve essere relativo all’oggetto dell’inserzione.<br /><br />
				Non è consentito l’utilizzo di frasi sommarie, che non facciano riferimento al 
				prodotto e/o servizio offerto.<br /><br />
				Gli annunci potranno essere controllati, a discrezione dei moderatori, 
				direttamente ai recapiti forniti per verificarne la veridicità.<br /></p>
				Tutti i prodotti e servizi offerti devono essere <b>disponibili sul territorio italiano</b>.
            </p>
            <br />
            <h3>Immagini</h1>
            <p>	
				E’ possibile allegare a ogni singolo annuncio fino a un massimo di 12 foto.<br /><br />
				<b>PortaPortese</b> non accetta immagini o materiali volgari, pornografici, osceni, blasfemi, illegali, offensivi o di minori.<br /><br />
				Non è possibile utilizzare immagini di altri inserzionisti.<br /><br />
				Pubblicando immagini o foto,  dichiari di essere il titolare dei relativi diritti di copyright, sollevando <b>PortaPortese</b>  da qualsiasi responsabilità.<br /><br />
				<b>PortaPortese</b> si riserva comunque a propria discrezione  la non pubblicazione di tutte  le immagini non ritenute adatte.            
            </p>
            <h3>Regole Generali</h1>
            <p>	
            	<b><i>Non è permesso</i></b>
				<ul class="elenco-puntato">
	                <li>Inserire termini razzisti, discriminatori e offensivi in genere;</li>                
	                <li>Vendere beni o servizi vietati dalla vigente legislazione italiana;</li>                
	                <li>Materiale pornografico o volgare; </li>                                                        
				</ul>
            </p>
            <h3>Rubrica Lavoro</h1>
            <p>	
				<ul class="elenco-puntato">
	                <li>Gli annunci relativi a offerte di lavoro, potranno essere  verificati direttamente da <b>PortaPortese</b> per accertarne la veridicità e non potranno essere discriminatori per sesso, età, etnia, religione ecc.
					</li>                
	                <li>Ai sensi della normativa vigente, tutte le offerte di lavoro si intendono estese a entrambi i sessi (Legge 903/77, Legge 125/91)</li>                
				</ul>
            </p>
			<h3>Disposizioni generali</h1>
            <p>	
				<b>PortaPortese</b> offre esclusivamente un servizio, non commercializza beni, non riceve compensi di intermediazione, non è responsabile della qualità, provenienza, veridicità degli annunci e né 				
		        per le conseguenze dirette e indirette che possono derivare dalla non corrispondenza di tali dati alla realtà e si riserva,  a suo insindacabile giudizio, la pubblicazione delle inserzioni.<br /><br />

				Inoltre, <b>PortaPortese</b> potrà,  qualora lo ritenesse opportuno, modificare gli annunci. <br /><br />

				Per gli annunci pubblicati online, <b>PortaPortese</b> potrà  decidere di eliminare l’annuncio se lo stesso non risponda alle regole generali dell’Editore.            
            </p>            
        </div>
    </div>
</div>